In [23]:
"""
14 cols
personal loan, securities account, cd account, online and credit card eithr 1 or 0
"""

import pandas as pd

#load data
cols = ['ID', 'Age', 'Experience', 'Income', 'ZIP_Code', 'Family', 'CCAvg', 'Education', 'Mortgage', 'Personal_Loan', 'Securities_Account', 'CD_Account', 'Online', 'CreditCard' ]
df = pd.read_csv('/Users/tamzi/OneDrive/UNI/6006CEM/Coursework/CSV_Files/Bank_Personal_Loan_Modelling.csv', names = cols)

In [16]:
#df.info()
print(df.head())

   ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  Mortgage  \
0   1   25           1      49     91107       4    1.6          1         0
1   2   45          19      34     90089       3    1.5          1         0
2   3   39          15      11     94720       1    1.0          1         0
3   4   35           9     100     94112       1    2.7          2         0
4   5   35           8      45     91330       4    1.0          2         0

   Personal Loan  Securities Account  CD Account  Online  CreditCard
0              0                   1           0       0           0
1              0                   1           0       0           0
2              0                   0           0       0           0
3              0                   0           0       0           0
4              0                   0           0       0           1

In [17]:
df.shape

(5000, 14)

In [18]:
df.info

<bound method DataFrame.info of         ID  Age  Experience  Income  ZIP Code  Family  CCAvg  Education  \
0        1   25           1      49     91107       4   1.60          1
1        2   45          19      34     90089       3   1.50          1
2        3   39          15      11     94720       1   1.00          1
3        4   35           9     100     94112       1   2.70          2
4        5   35           8      45     91330       4   1.00          2
5        6   37          13      29     92121       4   0.40          2
6        7   53          27      72     91711       2   1.50          2
7        8   50          24      22     93943       1   0.30          3
8        9   35          10      81     90089       3   0.60          2
9       10   34           9     180     93023       1   8.90          3
10      11   65          39     105     94710       4   2.40          3
11      12   29           5      45     90277       3   0.10          2
12      13   48          23     114     93106       2   3.80          3
13      14   59          32      40     94920       4   2.50          2
14      15   67          41     112     91741       1   2.00          1
15      16   60          30      22     95054       1   1.50          3
16      17   38          14     130     95010       4   4.70          3
17      18   42          18      81     94305       4   2.40          1
18      19   46          21     193     91604       2   8.10          3
19      20   55          28      21     94720       1   0.50          2
20      21   56          31      25     94015       4   0.90          2
21      22   57          27      63     90095       3   2.00          3
22      23   29           5      62     90277       1   1.20          1
23      24   44          18      43     91320       2   0.70          1
24      25   36          11     152     95521       2   3.90          1
25      26   43          19      29     94305       3   0.50          1
26      27   40          16      83     95064       4   0.20          3
27      28   46          20     158     90064       1   2.40          1
28      29   56          30      48     94539       1   2.20          3
29      30   38          13     119     94104       1   3.30          2
...    ...  ...         ...     ...       ...     ...    ...        ...
4970  4971   37          13      95     95821       2   1.70          2
4971  4972   58          28      73     90024       1   1.40          3
4972  4973   58          32      41     93401       3   2.20          3
4973  4974   31           1      68     95045       4   4.00          3
4974  4975   59          33      64     92867       4   1.70          2
4975  4976   38          11      29     95207       4   1.00          2
4976  4977   29           5      31     95039       1   1.80          2
4977  4978   40          15      54     90266       3   0.80          3
4978  4979   57          27      63     90210       4   2.00          3
4979  4980   50          26      92     90740       1   2.60          2
4980  4981   29           5     135     95762       3   5.30          1
4981  4982   34           9     195     90266       2   3.00          1
4982  4983   36          10      45     95126       4   0.20          1
4983  4984   51          26      72     95370       1   2.90          1
4984  4985   27           1      98     94043       4   2.30          3
4985  4986   48          23      30     94720       3   1.70          2
4986  4987   32           6      78     95825       1   2.90          3
4987  4988   48          23      43     93943       3   1.70          2
4988  4989   34           8      85     95134       1   2.50          1
4989  4990   24           0      38     93555       1   1.00          3
4990  4991   55          25      58     95023       4   2.00          3
4991  4992   51          25      92     91330       1   1.90          2
4992  4993   30           5      13     90037       4   0.50          3
4993  4994   45          21     218     91801       2   6.67          1
4994  4995   64          40      75     94588       3   2.00          3
4995  4996   29           3      40     92697       1   1.90          3
4996  4997   30           4      15     92037       4   0.40          1
4997  4998   63          39      24     93023       2   0.30          3
4998  4999   65          40      49     90034       3   0.50          2
4999  5000   28           4      83     92612       3   0.80          1

      Mortgage  Personal Loan  Securities Account  CD Account  Online  \
0            0              0                   1           0       0
1            0              0                   1           0       0
2            0              0                   0           0       0
3            0              0                   0           0       0
4            0              0                   0           0       0
5          155              0                   0           0       1
6            0              0                   0           0       1
7            0              0                   0           0       0
8          104              0                   0           0       1
9            0              1                   0           0       0
10           0              0                   0           0       0
11           0              0                   0           0       1
12           0              0                   1           0       0
13           0              0                   0           0       1
14           0              0                   1           0       0
15           0              0                   0           0       1
16         134              1                   0           0       0
17           0              0                   0           0       0
18           0              1                   0           0       0
19           0              0                   1           0       0
20         111              0                   0           0       1
21           0              0                   0           0       1
22         260              0                   0           0       1
23         163              0                   1           0       0
24         159              0                   0           0       0
25          97              0                   0           0       1
26           0              0                   0           0       0
27           0              0                   0           0       1
28           0              0                   0           0       1
29           0              1                   0           1       1
...        ...            ...                 ...         ...     ...
4970         0              0                   0           0       0
4971         0              0                   1           0       0
4972       148              0                   0           0       1
4973         0              0                   0           0       1
4974         0              0                   0           0       0
4975         0              0                   0           0       1
4976         0              0                   0           0       1
4977         0              0                   0           0       1
4978         0              0                   0           0       1
4979       213              0                   0           0       0
4980         0              1                   0           1       1
4981       122              0                   0           0       1
4982         0              0                   0           0       0
4983         0              0                   0           0       0
4984         0              0                   0           0       0
4985       162              0                   0           0       1
4986         0              0                   0           0       0
4987       159              0                   0           0       1
4988       136              0                   0           0       0
4989         0              0                   0           0       1
4990       219              0                   0           0       0
4991       100              0                   0           0       0
4992         0              0                   0           0       0
4993         0              0                   0           0       1
4994         0              0                   0           0       1
4995         0              0                   0           0       1
4996        85              0                   0           0       1
4997         0              0                   0           0       0
4998         0              0                   0           0       1
4999         0              0                   0           0       1

      CreditCard
0              0
1              0
2              0
3              0
4              1
5              0
6              0
7              1
8              0
9              0
10             0
11             0
12             0
13             0
14             0
15             1
16             0
17             0
18             0
19             1
20             0
21             0
22             0
23             0
24             1
25             0
26             0
27             1
28             1
29             1
...          ...
4970           1
4971           0
4972           1
4973           0
4974           1
4975           0
4976           1
4977           0
4978           0
4979           1
4980           1
4981           0
4982           1
4983           0
4984           1
4985           0
4986           0
4987           0
4988           1
4989           0
4990           1
4991           1
4992           0
4993           0
4994           0
4995           0
4996           0
4997           0
4998           0
4999           1

[5000 rows x 14 columns]>

In [24]:
#df.dtypes
#check if any values in dataset are NaN and remove those rows

df.dropna(axis=0, inplace=True)
df.isnull().values.any()

False

In [20]:
df.nunique()

ID                    5000
Age                     45
Experience              47
Income                 162
ZIP Code               467
Family                   4
CCAvg                  108
Education                3
Mortgage               347
Personal Loan            2
Securities Account       2
CD Account               2
Online                   2
CreditCard               2
dtype: int64

In [21]:
#export entire processed data to new csv file
pro_data = 'CSV_files/Pro_Bank_Personal_Loan_Modelling.csv'

df.to_csv(pro_data, index=False)

In [26]:
#export just binary data to a new csv file
binary_data = 'CSV_files/Binary_Bank_Personal_Loan_Modelling.csv'

bdf = df[['CD_Account', 'Securities_Account', 'Online', 'CreditCard']]
bdf.to_csv(binary_data, index=False)

In [27]:
#export just numerical data to a new csv file
numerical_data = 'CSV_files/Numerical_Bank_Personal_Loan_Modelling.csv'

ndf = df[['ID', 'Age', 'Experience', 'Income', 'ZIP_Code', 'CCAvg', 'Mortgage']]
ndf.to_csv(numerical_data, index=False)

In [28]:
#export just clarification data to a new csv file
clarification_data = 'CSV_files/Clarification_Bank_Personal_Loan_Modelling.csv'

cdf = df[['Education', 'Family']]
cdf.to_csv(clarification_data, index=False)